@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&display=swap" rel="stylesheet');

:root {
    --font: 'Fira Sans', sans-serif;

    --background: #262626;
    --selection: #262626;
    --defColor: #fff;
}

body {
    background-color: var(--background);
    color: var(--defColor);
}

footer {
    text-align: center;

    color: var(--defColor);

    font-family: var(--font);
    font-size: 14px;
    font-weight: 430;
    margin-bottom: 100px;
}

#userPhoto {
    width: 96px;
    height: 96px;

    display: block;

    margin: 35px auto 20px;

    border-radius: 50%;
    border: solid var(--defColor) 4px;
}

#userName {
    width: 100%;

    color: var(--defColor);

    font-family: var(--font);
    font-size: 25px;
    font-weight: 500;

    text-align: center;
    text-decoration: none;

    line-height: 1.25;
    display: block;
}

.descriptionName {
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    display: block;
}

#links {
    max-width: 675px;
    width: auto;

    display: block;

    margin: 27px auto;
}

.link {
    display: block;
    margin-bottom: 22px;
    padding: 17px;

    background-color: var(--background);
    color: var(--defColor);

    font-family: var(--font);
    font-size: 17px;
    font-weight: 500;

    border-radius: 15px;
    border: solid var(--defColor) 1px;

    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .30s cubic-bezier(.08, .59, .29, .99);
}

.link img {
    display: block;

    width: 35px;
    height: 35px;

    position: absolute;
    margin: -7.5px auto;

    filter: invert(100%) sepia(91%) saturate(2639%) hue-rotate(186deg) brightness(125%) contrast(100%);
}

.description {
    font-family: var(--font);
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    font-weight: 400;
}

.link:hover {
    background-color: var(--defColor);
    color: #1a1a1a;
    border-radius: 45px;
    border: solid var(#30ff94) 1px;
}

.link:hover img {
    filter: invert(13%) sepia(1%) saturate(1134%) hue-rotate(34deg) brightness(98%) contrast(93%);
}

.cont001 {
    font-family: var(--font);
    max-width: 30%;
    margin: 25px 0 25px;
}

@media screen and (max-width: 600px) {

    .cont001 {
        max-width: 80%;
    }

}

.textmiddleh2 {
    width: 500;
    text-align: center;
    border-bottom: 1px solid var(--defColor);
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.textmiddleh2 span {
    background: var(--background);
    padding: 0 10px;
}